body {
  margin: 80px 0px 20px 100px;
  background-color: #ecf2f8;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first] 250px [line2] 250px [line3] 250px [col4-start] 268px [end];
      grid-template-columns: [first] 250px [line2] 250px [line3] 250px [col4-start] 268px [end];
  -ms-grid-rows: [row1-start] 287px [row1-end] 260px [third-line];
      grid-template-rows: [row1-start] 287px [row1-end] 260px [third-line];
  -webkit-column-gap: 28px;
          column-gap: 28px;
  grid-row-gap: 24px;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed';
  justify-items: stretch;
  height: 600px;
  width: 1138px;
  margin: auto;
}

.daniel {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  border-radius: 8px;
  background-color: #7541c8;
  color: white;
  background-image: url(./images/bg-pattern-quotation.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-position-x: 81%;
  -webkit-box-shadow: 50px 60px 36px -58px #cfcfcf;
          box-shadow: 50px 60px 36px -58px #cfcfcf;
}

.daniel img {
  -webkit-box-shadow: 0px 0px 0px 2px #9164d8;
          box-shadow: 0px 0px 0px 2px #9164d8;
}

.jeanette {
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 50px 60px 36px -58px #cfcfcf;
          box-shadow: 50px 60px 36px -58px #cfcfcf;
}

.kira {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ span 2;
  border-radius: 8px;
  padding: 20px 34px 20px 30px;
  background-color: white;
  -webkit-box-shadow: 50px 60px 36px -58px #cfcfcf;
          box-shadow: 50px 60px 36px -58px #cfcfcf;
}

.jonathan {
  border-radius: 8px;
  background-color: #48556a;
  color: white;
  -webkit-box-shadow: 50px 60px 36px -58px #cfcfcf;
          box-shadow: 50px 60px 36px -58px #cfcfcf;
}

.patrick {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/ span 2;
  border-radius: 8px;
  background-color: #19212e;
  color: white;
  -webkit-box-shadow: 50px 60px 36px -58px #cfcfcf;
          box-shadow: 50px 60px 36px -58px #cfcfcf;
}

.patrick img {
  -webkit-box-shadow: 0px 0px 0px 2px #7541c8;
          box-shadow: 0px 0px 0px 2px #7541c8;
}

.daniel, .jeanette, .jonathan, .patrick {
  padding: 20px 30px 20px 30px;
}

.name {
  margin: -34px 0 0 46px;
}

.designation {
  margin: -3px 0 0 46px;
  opacity: 50%;
  font-size: 11px;
}

img {
  border-radius: 50%;
  width: 30px;
}

h2 {
  font-weight: 600;
  line-height: 25px;
}

p {
  font-weight: 500;
  line-height: 19px;
}

.content-summary {
  padding-top: 2px;
  opacity: 70%;
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 800px) and (min-width: 375px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    width: 321px;
    margin: auto;
  }
  body {
    margin: auto;
    padding-top: 50px;
  }
  .daniel {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 20px 36px 20px 30px;
    background-position-x: 88%;
  }
  .daniel > .content-summary {
    letter-spacing: 0.01em;
  }
  .jonathan {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .jeanette {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .patrick {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .kira {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .kira > .content-summary {
    letter-spacing: 0.02em;
  }
  .attribution {
    margin-top: 83rem;
    margin-bottom: 2rem;
  }
  .content-summary {
    padding-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */